<?xml version="1.0"?>
<robot name="bolt" xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  <xacro:arg name="sim" default="false" />

  <xacro:property name="color_name" value="grey" />
  <xacro:property name="color" value="0.8 0.8 0.8" />
  <xacro:property name="opacity" value="1.0" />
  <xacro:property name="new_leg" value="true" />
  <xacro:property name="has_passive_ankle" value="false" />

  <link name="base_link"/>
  <xacro:include filename="body.xacro"/>
  <xacro:include filename="leg.xacro"/>
  <xacro:body />
  <xacro:leg
    prefix="FL"
    is_front="true"
    is_right="false"
    has_side_motion="true"
    color_name="${color_name}"
    color="${color}"
    opacity="${opacity}"
    new_leg="${new_leg}"
    has_passive_ankle="${has_passive_ankle}"/>
  <xacro:leg
    prefix="FR"
    is_front="true"
    is_right="true"
    has_side_motion="true"
    color_name="${color_name}"
    color="${color}"
    opacity="${opacity}"
    new_leg="${new_leg}"
    has_passive_ankle="${has_passive_ankle}"/>

  <xacro:include filename="$(find bolt_description)/urdf/joint.xacro"/>
  <ros2_control name="bolt_mujoco_simulation" type="system">
    <xacro:joint_interface name="FR_HAA" p="1" d="0.1" t="1"/>
    <xacro:joint_interface name="FR_HFE" p="1" d="0.1" t="1"/>
    <xacro:joint_interface name="FR_KFE" p="1" d="0.1" t="1"/>
    <!-- <xacro:joint_interface name="FR_ANKLE" p="10" d="0.1" /> -->
    <xacro:joint_interface name="FL_HAA" p="1" d="0.1" t="1"/>
    <xacro:joint_interface name="FL_HFE" p="1" d="0.1" t="1"/>
    <xacro:joint_interface name="FL_KFE" p="1" d="0.1" t="1"/>
    <!-- <xacro:joint_interface name="FL_ANKLE" p="10" d="0.1" /> -->
    <xacro:if value="$(arg sim)">
      <hardware>
        <plugin>bolt_mujoco_simulation/Simulator</plugin>
        <param name="mujoco_model">$(arg mujoco_model)</param>
        <param name="mesh_directory">$(arg mesh_directory)</param>
      </hardware>
    </xacro:if>
  </ros2_control>
</robot>
